# Kopiere diese Datei zu .env und fülle die Werte aus
SECRET_KEY=dein-zufaelliger-django-secret-key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.69.87

DB_NAME=djangodb
DB_USER=djangouser
DB_PASSWORD=sicheres-passwort-hier

# Pfad zu den ELKE-Importdateien (innerhalb des Containers)
IMPORT_PATH=/app/import
